.formWrap{
  width: 750px;
  margin-inline:auto;
  padding:var(--gap-24px);
  background: var(--bg-color-300);
  border-radius: var(--r-md);
}
.colGroup {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: var(--gap-16px);
}