.item {
  background: var(--bg-color-white);
  border:1px solid;
  border-color: var(--text-color-300);
  border-radius: var(--r-md);
  padding: var(--gap-24px);

  p{
    font-size: var(--font-lg);
    font-weight: 500;
    color: var(--text-color-200);
    margin-bottom: var(--gap-16px);
  }
  ul {
    display: grid;
    gap: var(--gap-8px);
  }
  li{
    list-style: disc;
    margin-left: var(--gap-24px);
    font-size: var(--font-sm);
    color: var(--text-color-300);
  }
}