.right{
  p{
    font-size: var(--font-sm);
    color:var(--text-color-300);
  }
  p + p{
    margin-top: var(--gap-16px);
  }
  a{
    margin-top: var(--gap-16px);
  }
  &.dark{
    h2,
    p{
      color: var(--text-white);
    }
  }
  &.owner {
    hgroup + p{
      padding-left:var(--gap-16px);
      border-left: 4px solid var(--text-color-300);

      & + p {
        text-align: right;
      }
    }
  }
}