.btn {
  width: fit-content;
  height: fit-content;
  background:var(--bg-color-100);
  display: block;
  padding: 0.5rem 1.25rem;
  border-radius: var(--r-sm);
  border:1px solid;
  border-color: var(--bg-color-100);

  color:#fff;

  transition: color .2s, background .2s;

  &:hover{
    background:color-mix(in srgb, var(--bg-color-100) 80%, var(--bg-color-white));
    border-color:color-mix(in srgb, var(--bg-color-100) 80%, var(--bg-color-white));
  }

  &.solid{
    background:#0000;
    border-color:var(--bg-color-white);
    &:hover,
    &:focus{
      background: color-mix(in srgb, var(--bg-color-white) 25%, #0000) ;
    }
  }

  &.center{
    margin-inline:auto;
  }
}