.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;

  padding: 1.5rem 3.75rem;
  color: var(--text-color-100);

  h1 {
    font-size: var(--font-lg);
    font-weight: 500;
  }
  nav ul {
    display: flex;
    gap: var(--gap-16px);
  }
  a {
    font-size: var(--font-sm);
  }
}
