.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  padding: 1.5rem 3.75rem;
  color: var(--text-color-100);
  background: color-mix(in srgb, var(--bg-color-white)90%, #0000);
  border-bottom: 1px solid var(--bg-color-white);

  h1 {
    font-size: var(--font-lg);
    font-weight: 500;
  }
  nav{
    position: relative;
  }

  nav ul {
    display: flex;
    gap: var(--gap-16px);
  }

  a {
    font-size: var(--font-sm);
    text-transform: capitalize;

    &:hover {
      color: color-mix(in srgb, var(--text-color-100) 50%, #0000);
    }
  }

  @media screen and (max-width:960px) {
    nav ul {
      flex-direction: column;
      padding: var(--gap-24px);
      background: color-mix(in srgb, var(--bg-color-white) 90%, #0000);
      border-radius: var(--r-sm);
    }
  }
}